body{
    background-image: linear-gradient(to left,#799ce7,#363ab4);
}
.project{
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5%;
    margin-top:1%
}
.awsm{
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-left: 37%;
    margin-top:10%
}
.register{
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    height:40px;
    border-radius: 15px;
    margin-left: 38%;   
    margin-top: 10%;
    background-color:white; 
    border:none;
    color: black;
}
.login{
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    height:40px;
    border-radius: 15px;
    margin-left: 5%;   
    background-color:white; 
    border:none;
    color: black;
    #
}